<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @note.subject %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @note.contents %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>


<%= render "comments/comments" %>